<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project/views/updated.html
Employee login screen
-->
<include href="views/head.html"></include>
<body class="bg-light">

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-9 col-lg-6 mx-auto">
            <div class="card my-5">
                <div class="card-header bg-light">
                    <a href="../logout">&lt;&lt; Logout</a>
                </div>
                <div class="card-body p-4">
                    <!-- success message -->
                    <div class="alert alert-success text-center" role="alert">
                        Vehicle has been added to the inventory!
                    </div>

                    <div class="text-center">
                        <hr>
                        <a href="add"
                           class="btn btn-md btn-secondary text-uppercase">Add Another Vehicle
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="//code.jquery.com/jquery.js"></script>
<script src="javascript/additional-info.js"></script>
</html>