<!--
Celine Leano and Adolfo Gonzalez
3/18/2019
328/final-project/views/admin/remove.html
Admin Remove Tool - removes vehicle from inventory
-->
<include href="views/head.html"></include>

<body class="bg-light m-auto p-4">
<div class="container col-sm-9 col-lg-6 border bg-white shadow-sm">
    <div class="row card">
        <div class="card-header">
            <a href="tools">&lt;&lt; Back</a>
        </div>
        <div class="card-body">
            <h1 class="text-center">Remove a Vehicle</h1>
            <hr>

            <form action="#" method="post">
                <div class="form-row p-3">
                    <div class="col-md-12">

                        <div class="bg-light border rounded p-2 text-center mx-auto shadow-sm">
                            <h5 class="text-uppercase pt-3">STATUS INFORMATION FOR</h5>
                            <h2 class="text-uppercase">{{ @car['year'] }} {{ @car['make'] }}
                                {{ @car['model'] }}
                            </h2>
                            <p>Stock Number: {{ @car['stock'] }}</p>
                        </div>

                        <!-- success message -->
                        <check if="{{ isset(@successMessage) }}">
                            <div class="alert alert-success text-center" role="alert">
                                {{ @successMessage }}
                                <br>
                                <div class="spinner-border spinner-border-sm"></div>
                                Redirecting back to <b>Admin Tools</b>...
                            </div>
                        </check>

                        <hr>
                        <div class="text-center">
                            <b class="text-primary">{{ @car['status'] }}</b>
                            by {{ @car['updatedBy'] }}
                            <br>
                        </div>

                        <include href="views/progress-bar.html"></include>
                        <hr>

                        <h6 class="text-center">History</h6>
                        <table class="table shadow-sm">
                            <thead class="bg-light">
                            <tr>
                                <th>Date/Time</th>
                                <th>Status</th>
                                <th>Updated By</th>
                            </tr>
                            </thead>

                            <tbody>
                            <repeat group="{{ @history }}" value="{{ @update }}">
                                <tr>
                                    <td>{{ @update['timestamp'] }}</td>
                                    <td>{{ @update['status'] }}</td>
                                    <td>{{ @update['updatedBy'] }}</td>
                                </tr>
                            </repeat>
                            </tbody>
                        </table>

                        <hr>

                        <div class="m-0 p-1">
                            <repeat group="{{ @history }}" value="{{ @update }}">
                                <check if="{{ @update['notes'] != null }}">
                                    <p>{{ @update['notes'] }}
                                        <i>- {{ @update['updatedBy'] }}</i>
                                    </p>
                                </check>
                            </repeat>
                        </div>


                        <check if="{{ @car['budget'] != null }}">
                            <div class="m-0 p-1">
                                <p>
                                    <b>Budget:</b>
                                    ${{ @car['budget'] }}
                                </p>
                            </div>
                        </check>

                        <hr>

                        <div class="text-center">
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-lg btn-danger shadow-sm" data-toggle="modal"
                                    data-target="#myModal">
                                Delete Vehicle From Inventory
                            </button>
                        </div>

                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirmation</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Confirmation message -->
                                    <div class="modal-body">
                                        Are you sure you want to remove this vehicle from the inventory? Changes cannot
                                        be reverted.
                                    </div>

                                    <!-- Confirmation buttons -->
                                    <div class="modal-footer">
                                        <form method="post" action="#">
                                            <input type="submit" name="submit" id="submit" class="btn btn-danger" value="Accept"/>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script src="//code.jquery.com/jquery.js"></script>
<script src="../javascript/redirect-tools.js"></script>
<check if="{{ isset(@successMessage) }}">
    <script type="text/javascript">countDown();</script>
</check>
</html>