<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project/views/home.html
Homepage
-->
<include href="views/head.html"></include>
<body class="bg-light">

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card my-5">
                <div class="card-header bg-light"></div>
                <div class="card-body p-4">
                    <h2 class="card-title text-center text-uppercase">In Progress</h2>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>