<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project2/views/stock.html
View to input stock number after logging in
-->
<include href="views/head.html"></include>
<body class="bg-light">
	
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-9 col-lg-8 mx-auto">
				<div class="card my-5 shadow-sm">
					<div class="card-header bg-light shadow-sm">
						<a href="../logout">&lt;&lt; Logout</a>
					</div>
					<div class="card-body p-4">
						<div class="bg-light border rounded p-2 text-center mx-auto shadow-sm">
							<h5 class="text-uppercase pt-3">STATUS INFORMATION FOR</h5>
							<h2 class="text-uppercase">{{ @car['year'] }} {{ @car['make'] }}
								{{ @car['model'] }}
							</h2>
							<p>Stock Number: {{ @car['stock'] }}</p>
						</div>

						<hr>
						<div class="text-center">
							<b class="text-primary">{{ @car['status'] }}</b>
							by {{ @car['updatedBy'] }}
							<br>
						</div>

						<include href="views/progress-bar.html"></include>
						<hr>

						<!-- error message -->
						<check if="{{ isset(@errorUpdate) }}">
							<div class="alert alert-danger" role="alert">
								{{ @errorUpdate }}
							</div>
						</check>

						<div class="row">
							<check if="{{ @stock['status'] == 'Sold' }}">
								<true>
									<div class="text-center">
										This vehicle has been marked as sold. Please login as an admin to
										remove the vehicle from the inventory list.
									</div>
								</true>

								<false>
									<div class="col-4">
										<h5>To Do</h5>

										<ul class="list-group list-group-flush">
											<repeat group="{{ @remaining }}" value="{{ @department }}">
												<li class="list-group-item p-0">{{ @department }}</li>
											</repeat>
										</ul>
									</div>

									<div class="col-8">
										<h5>Update Status</h5>

										<p class="small">Note: Steps are in order of when they should be completed, however,
											steps may be skipped if it is unnecessary for the current vehicle.</p>
										<hr>

										<form method="post" action="#">
											<div class="form-label-group">
												<label class="col-form-label">Completed</label>
												<br>
												<select name="status" class="form-control">
													<option>- Select -</option>
													<repeat group="{{ @remaining }}"
															value="{{ @department }}">
														<option name="{{ @department }}">{{ @department }}</option>
													</repeat>
												</select>
											</div>

											<div class="form-label-group">
												<label class="col-form-label">Name / Department</label>
												<input type="text" id="employee" name="employee"
													   class="form-control" value="{{ @employee }}">
											</div>

											<div class="form-label-group">
												<input type="checkbox" name="info">&nbsp;Additional Info
											</div>

											<div name="additional" id="additional"
												 class="form-label-group">
												<label class="col-form-label">Notes</label>
												<input type="text" id="notes" name="notes"
													   class="form-control">
											</div>

											<br>
											<input type="submit" name="submit" value="Update"
												   class="btn btn-primary float-right">
										</form>
									</div>
								</false>
							</check>
						</div>
						
						<div class="text-center">
							<hr>
							<a href="stock"
									class="btn btn-md btn-secondary text-uppercase">Search For a Different
								Vehicle
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

<script src="//code.jquery.com/jquery.js"></script>
<script src="../javascript/additional-info.js"></script>
</html>