<!--
Celine Leano and Adolfo Gonzalez
2/17/2019
328/final-project/views/login.html
Admin Page
-->
<include href="views/head.html"></include>

<body>
<h1>Administrator Page</h1>
<div class="container">
    <form class="form-control" action="#" method="post">
        <div class="form-row">
            <div class="col-sm-4">
                <div class="form-group">
                    <h2>Add New Vehicle</h2>
                    <label class="control-label" for="stock">Stock#:</label>
                    <input type="text" class="form-control input" id="stock" placeholder="stock number" name="stock">


                    <label class="control-label" for="year">Year:</label>
                    <input type="text" class="form-control" id="year" placeholder="year" name="year">


                    <label class="control-label" for="make">Make:</label>
                    <input type="text" class="form-control" id="make" placeholder="make" name="make">


                    <label class="control-label" for="make">Model:</label>
                    <input type="text" class="form-control" id="model" placeholder="model" name="model">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <h2>Department</h2>
                    <div class="radio">
                        <label><input type="radio" value="detail">Detail</label>
                        <label><input type="radio" value="inspection">Inspections</label>
                        <label><input type="radio" value="photo">Photography</label>
                        <label><input type="radio" value="recondition">Reconditioning</label>
                        <label><input type="radio" value="service">Service</label>
                        <label><input type="radio" value="sales">Sales</label>
                        <label><input type="radio" value="wash">Wash</label>
                        <label><input type="radio" value="wholesale">Wholesale</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <h2>Tech</h2>
                    <label class="control-label" for="name">Tech Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="tech name" name="name">
                    <label class="control-label" for="notes">Tech Notes:</label>
                    <input type="textarea" rows="5" cols="60" id="notes" name="notes" placeholder="notes">
                </div>
            </div>
        </div>

    </form>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</div>


</body>
</html>