<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project/views/home.html
Homepage
-->
<include href="views/head.html"></include>
<body class="bg-light">
	
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
				<div class="card my-5">
					<div class="card-header bg-light">
						<a href="../logout">&lt;&lt; Logout</a>
					</div>
					<div class="card-body p-4">
						<h2 class="card-title text-center text-uppercase">Admin Tools</h2>
						<div class="text-center">
							<a href="add" class="btn btn-primary btn-lg btn-block">ADD A VEHICLE</a>
							<p class="card-text text-center">Adds a vehicle to the roster</p>
							<a href="remove"
									class="btn btn-primary btn-lg btn-block">REMOVE A VEHICLE
							</a>
							<p class="card-text text-center">Removes a vehicle when it has been sold</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>