<include href="views/head.html"></include>
<body>

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card my-5">
                <div class="card-header bg-light">Home</div>
                <div class="card-body p-4">
                    <h2 class="card-title text-center text-uppercase">Key Management</h2>
                    <p class="card-text text-center">Intended for use by employees of Landmark Motors Inc.</p>
                    <div class="text-center">
                        <a href="login" class="btn btn-primary btn-lg btn-block">EMPLOYEE LOGIN</a>
                        <a href="live" class="btn btn-primary btn-lg btn-block">LIVE BOARD</a>
                        <a href="admin" class="btn btn-primary btn-lg btn-block">ADMIN TOOLS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>