<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project/views/live.html
Live Board to be viewed on TV screens and/or monitors
-->
<include href="views/head.html"></include>
<body>
	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">STOCK #</th>
				<th scope="col">YEAR</th>
				<th scope="col">MAKE</th>
				<th scope="col">MODEL</th>
				<th scope="col">STATUS</th>
				<th scope="col">UPDATED BY</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-success">
				<th scope="row">4387</th>
				<td>2011</td>
				<td>BMW</td>
				<td>135I</td>
				<td>
					<b>SOLD</b>
				</td>
				<td>SALES DEPARTMENT</td>
			</tr>
			<tr class="bg-warning">
				<th scope="row">5345</th>
				<td>2011</td>
				<td>LEXUS</td>
				<td>IS250</td>
				<td>
					<b>READY FOR SALE</b>
				</td>
				<td>CJ BICKNELL</td>
			</tr>
			<tr>
				<th scope="row">5738</th>
				<td>2011</td>
				<td>BMW</td>
				<td>135I</td>
				<td>
					<b>PHOTOGRAPH</b>
				</td>
				<td>TREVOR STEVENS</td>
			</tr>
			<tr>
				<th scope="row">5738</th>
				<td>2011</td>
				<td>BMW</td>
				<td>135I</td>
				<td>
					<b>INSPECTION</b>
				</td>
				<td>CJ BICKNELL</td>
			</tr>
			<tr class="bg-danger">
				<th scope="row">5389</th>
				<td>1988</td>
				<td>TOYOTA</td>
				<td>PICK-UP</td>
				<td>
					<b>AWAITING APPROVAL</b>
				</td>
				<td>CJ BICKNELL</td>
			</tr>
			<tr>
				<th scope="row">5777</th>
				<td>2011</td>
				<td>BMW</td>
				<td>135I</td>
				<td>
					<b>SERVICE</b>
				</td>
				<td>CHRIS WILSON</td>
			</tr>
			<tr>
				<th scope="row">5888</th>
				<td>2011</td>
				<td>BMW</td>
				<td>135I</td>
				<td>
					<b>RECONDITIONING</b>
				</td>
				<td>MS GLASS</td>
			</tr>
			<tr class="bg-primary">
				<th scope="row">8344</th>
				<td>1993</td>
				<td>BMW</td>
				<td>325I</td>
				<td>
					<b>WHOLESALE</b>
				</td>
				<td>SALES DEPARTMENT</td>
			</tr>
			<tr>
				<th scope="row">5638</th>
				<td>2011</td>
				<td>BMW</td>
				<td>135I</td>
				<td>
					<b>RECONDITIONING</b>
				</td>
				<td>PAINT OUTSOURCE</td>
			</tr>
			<tr>
				<th scope="row">5698</th>
				<td>2012</td>
				<td>BMW</td>
				<td>X5</td>
				<td>
					<b>PHOTOGRAPH</b>
				</td>
				<td>TREVOR STEVENS</td>
			</tr>
			<tr>
				<th scope="row">5389</th>
				<td>2016</td>
				<td>AUDI</td>
				<td>Q5</td>
				<td>
					<b>TOUCH UP WASH</b>
				</td>
				<td>SALES DEPARTMENT</td>
			</tr>
			<tr>
				<th scope="row">5807</th>
				<td>2015</td>
				<td>BMW</td>
				<td>X5</td>
				<td>
					<b>SERVICE</b>
				</td>
				<td>JOEL STAAB</td>
			</tr>
			<tr>
				<th scope="row">5733</th>
				<td>2016</td>
				<td>AUDI</td>
				<td>A7</td>
				<td>
					<b>PHOTOGRAPH</b>
				</td>
				<td>TREVOR STEVENS</td>
			</tr>
			<tr>
				<th scope="row">5735</th>
				<td>2013</td>
				<td>BMW</td>
				<td>535I</td>
				<td>
					<b>PHOTOGRAPH</b>
				</td>
				<td>TREVOR STEVENS</td>
			</tr>
			<tr>
				<th scope="row">5740</th>
				<td>2010</td>
				<td>MERCEDES</td>
				<td>GL450</td>
				<td>
					<b>PHOTOGRAPH</b>
				</td>
				<td>TREVOR STEVENS</td>
			</tr>
		</tbody>
	</table>

</body>