<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project/views/live.html
Live Board to be viewed on TV screens and/or monitors
-->
<include href="views/head.html"></include>
<body>
	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">STOCK #</th>
				<th scope="col">YEAR</th>
				<th scope="col">MAKE</th>
				<th scope="col">MODEL</th>
				<th scope="col">STATUS</th>
				<th scope="col">UPDATED BY</th>
				<th scope="col">DATE/TIME</th>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @cars }}" value="{{ @car }}">
				<check if="{{ @car['status'] == 'Ready For Sale' }}">
					<tr class="bg-warning">
				</check>
				<check if="{{ @car['status'] != 'Ready For Sale' }}">
					<tr>
				</check>
				<th scope="row">{{ @car['stock'] }}</th>
				<td>{{ @car['year'] }}</td>
				<td class="text-uppercase">{{ @car['make'] }}</td>
				<td class="text-uppercase">{{ @car['model'] }}</td>
				<td class="text-uppercase font-weight-bold">{{ @car['status'] }}</td>
				<td class="text-uppercase">{{ @car['updatedBy'] }}</td>
				<td>{{ @car['timestamp'] }}</td>
				</tr>
			</repeat>
		</tbody>
	</table>

</body>

<script src="../javascript/refresh-board.js"></script>