<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project/views/live.html
Live Board to be viewed on TV screens and/or monitors
-->
<include href="views/head.html"></include>
<body>
	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">STOCK #</th>
				<th scope="col">YEAR</th>
				<th scope="col">MAKE</th>
				<th scope="col">MODEL</th>
				<th scope="col">STATUS</th>
				<th scope="col">UPDATED BY</th>
				<th scope="col">DATE/TIME</th>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @cars }}" value="{{ @car }}">
				<th scope="row">{{ @car['stock'] }}</th>
				<td>{{ @car['year'] }}</td>
				<td class="text-uppercase">{{ @car['make'] }}</td>
				<td class="text-uppercase">{{ @car['model'] }}</td>

				<!-- different colors depending on certain statuses -->
				<check if="{{ @car['status'] == 'Inspection' }}">
					<true>
						<td class="text-uppercase font-weight-bold text-secondary">{{ @car['status'] }}</td>
					</true>
				</check>

				<check if="{{ @car['status'] == 'Waiting For Parts' }}">
					<td class="text-uppercase font-weight-bold text-danger">{{ @car['status'] }}</td>
				</check>

				<check if="{{ @car['status'] == 'Ready For Sale' }}">
					<td class="text-uppercase font-weight-bold text-warning">{{ @car['status'] }}</td>
				</check>

				<check if="{{ @car['status'] == 'Sold' }}">
					<td class="text-uppercase font-weight-bold text-success">{{ @car['status'] }}</td>
				</check>

				<check if="{{ @car['status'] != 'Inspection' &&
							  @car['status'] != 'Waiting For Parts' &&
							  @car['status'] != 'Ready For Sale' &&
							  @car['status'] != Sold }}">
					<td class="text-uppercase font-weight-bold">{{ @car['status'] }}</td>
				</check>

				<td class="text-uppercase">{{ @car['updatedBy'] }}</td>
				<td>{{ @car['timestamp'] }}</td>
				</tr>
			</repeat>
		</tbody>
	</table>
	<a href="#" target="_self" id="print" class="float-right pr-1">Print</a>
</body>

<script src="//code.jquery.com/jquery.js"></script>
<script src="javascript/print.js"></script>
<script src="javascript/refresh-board.js"></script>