<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project2/views/login.html
Employee login screen
-->
<include href="views/head.html"></include>
<body class="bg-light">
	
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
				<div class="card my-5">
					<div class="card-header bg-light">
						<a href="../final-project">&lt;&lt; Back</a>
					</div>
					<div class="card-body p-4">
						<h3 class="card-title text-center">EMPLOYEE LOGIN</h3>
						
						<check if="{{ isset(@errorEmployeeLogin) }}">
							<div class="alert alert-danger" role="alert">
								{{ @errorEmployeeLogin }}
							</div>
						</check>
						<form method="post" action="#">
							<div class="form-label-group">
								<label for="username" class="col-form-label">Username</label>
								<input id="username" name="username" class="form-control"
										value="{{ @username }}" autofocus>
							</div>
							
							<div class="form-label-group">
								<label for="password" class="col-form-label">Password</label>
								<input type="password" id="password" name="password"
										class="form-control">
							</div>
							<input type="submit" id="submit" value="Login" class="btn btn-lg
                        btn-primary btn-block text-uppercase mt-4">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>