<!--
Celine Leano and Adolfo Gonzalez
3/17/2019
328/final-project/views/logout.html
Logout screen
-->
<include href="views/head.html"></include>
<body class="bg-light">

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card my-5 shadow-sm">
                <div class="card-body p-4 mx-auto">
                    <h3 class="card-title text-center">Logged out!</h3>
                    <div class="spinner-border text-primary text-center">
                    </div>
                    Redirecting you back to the homepage...
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="javascript/redirect-home.js"></script>
<script type="text/javascript">countDown();</script>

</html>