<!--
Celine Leano and Adolfo Gonzalez
2/10/2019
328/final-project2/views/stock.html
View to input stock number after logging in
-->
<include href="views/head.html"></include>
<body class="bg-light">

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-9 col-lg-6 mx-auto">
            <div class="card my-5">
                <div class="card-header bg-light"><a href="../final-project"><< Logout</a></div>
                <div class="card-body p-4">
                    <h5 class="card-title text-center text-uppercase">UPDATE STATUS FOR</h5>
                    <h2 class="card-title text-center">{{ @stock['year'] }} {{ @stock['make'] }}
                        {{ @stock['model'] }}</h2>
                    <hr>
                    <div class="text-center">
                        <check if="{{ @stock['status'] == 'Sold' }}">
                            This vehicle has marked as sold. Please login as an admin to remove the vehicle from
                            the inventory list.
                        </check>

                        <check if="{{ @stock['status'] != 'Sold' }}">
                            This vehicle is still missing the following:<br>

                            <repeat group="{{ @remaining }}" value="{{ @department }}">
                                {{ @department }}<br>
                            </repeat>
                        </check>
                    </div>

                    <form method="post" action="#">
                        <div class="form-label-group">
                            <label for="username" class="col-form-label">Username</label>
                            <input id="username" name="username" class="form-control"
                                   value="{{ @username }}" autofocus>
                        </div>

                        <div class="form-label-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" id="password" name="password"
                                   class="form-control">
                        </div>
                    </form>

                    <hr>

                    <div class="text-center">
                        <a href="update-status" class="btn btn-md btn-primary text-uppercase">Update Status</a>
                        <a href="stock" class="btn btn-md btn-secondary text-uppercase">Search For a Different
                            Vehicle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>