/* Styles for Admin Login page.
*
* @author   Celine Leano
* @author   Adolfo Gonzalez
* @version  1.0
*
* File: admin-login.css
*
 */


/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

#additional {
    display: none;
}